
article div {
    ol{width: 100%;
        height: 100%;

    li{margin-left: 5cm;
        margin-right: 5cm;
        border-right:10px solid black ;
        border-left:10px solid black 
        
            
     }}}
     
        
    